.container{
    margin: 0;
    padding: 0;
    position: relative;
}

.header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 69px;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%
}

/* .title {
    position: absolute;
    width: 1440px;
}
.menu {
    position: absolute;
    width: 1440px;
} */

.menu li{
    list-style: none;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    left: 10px;
    top: 10px;
    border-radius: nullpx;
    margin: 10px;
    /* Contacto */


    font-family: 'Roboto';
    font-style: normal;
    /* identical to box height */
    text-align: center;
    box-sizing: border-box;

    color: #FFFFFF;


    /* Inside auto layout */
    /* 
    flex: none; */
    order: 0;
    /* flex-grow: 0; */
        white-space: nowrap;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carrousel li{
    list-style: none;
    position: absolute center top;
    width: 100%;
    height: 696px;
}

/*Slider CSS*/
.invisible {
    display: none;
}

.carrousel-dots input {
    cursor: pointer;
}
/*Slider CSS ends*/
.h2 {
    color: black;
    position: absolute;
    font-size: large;
    font: roboto;
    align-self: center;
}

#peg {
    height: 140px;
    width: 140px;
    left: 23px;
    top: 14px;
    border-radius: 50%;
    background-color: lightskyblue;
    background-image: url("../buttons/pegamentos.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

#med {
    height: 140px;
    width: 140px;
    left: 23px;
    top: 14px;
    border-radius: 50%;
    background-color: lightskyblue;
    background-image: url("../buttons/medicion.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

#herr {
    height: 140px;
    width: 140px;
    left: 23px;
    top: 14px;
    border-radius: 50%;
    background-color: lightskyblue;
    background-image: url("../buttons/herramientas.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

#hid {
    height: 140px;
    width: 140px;
    left: 23px;
    top: 14px;
    border-radius: 50%;
    background-color: lightskyblue;
    background-image: url("../buttons/hidraulica.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 530px;
    top: 2892px;
    position: absolute;
    bottom: 0;
}

#col1 {
    PADDING-RIGHT: 2px;
DISPLAY: inline;
FLOAT: left;
WIDTH: 50%;
}

#col2 {
    PADDING-RIGHT: 2px;
DISPLAY: inline;
FLOAT: right;
WIDTH: 50%;
}