:root{
    --negro:#1F1E1E;
    --celeste: rgba(53, 85, 254, 0.97);
    --sombras: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --categorias: rgba(53, 85, 254, 0.28);
    --blanco: rgba(255, 255, 255, 1);

}
@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Bold.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face{
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face{
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
* {
    margin: 0;
    font-family: 'Roboto';
    box-sizing: content-box;
}
body{
    width: 100%;
    box-sizing: border-box;
}

.container{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: var(--negro);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 164px;
}
.header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.buscador{
    display: block;
    width: 50%;
}
.buscador form{
    width: auto;
}
.buscador_lupa{
    width: 15px;
    margin: auto;
    position: relative;
    top: 8px;
    padding: 5px 10px 5px 5px;
    position: absolute;
}
#label_lupa input{
    background: none;
    border: none;
    color: white;
    outline: none;
    position: absolute;
    left: 40px;
    width: 100%;
}
#label_lupa:hover{
    background-color: #303134;
    box-shadow: 0 1px 6px 0 #171717;
    border-color: rgba(223,225,229,0);
}
#label_lupa input:hover{
    background-color: transparent;
    border: none;
}

#label_lupa input:hover{
    background: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
}
#label_lupa{
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
}
#menu{
    display: none;
}
nav label{
    width: fit-content;
    display: none;
}
nav input{
    width: fit-content;
    display: none;
}
#menu_back{
    display: none;
}
.title {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 33px;
    line-height: 49px;
    text-align: center;
}

.menu li{
    list-style: none;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    left: 10px;
    top: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    box-sizing: border-box;
    color: var(--blanco);
    order: 0;
    white-space: nowrap;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 88px;
    padding: 0;
}

.menu_icons{
    display: none;
}

.carrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrousel ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-img img {
    width: 100%;
}


/*Slider CSS*/
.invisible {
    display: none;
}

.carrousel-dots{
    margin: 10px;
}
.carrousel-dots input {
    cursor: pointer;
}

.categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40 0px;
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.categorias h2{
    margin:20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 39px;
}
.categorias_items{
    height: 140px;
    width: 140px;
    left: 23px;
    top: 14px;
    border-radius: 50%;
    background-color: var(--categorias);
    background-size: 80%;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorias ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias ul li{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 18px;

}
.categorias img{
    width: 91px;
    justify-content: center;
    position: absolute;
}
.categorias ul li a{
    color: black;
    text-decoration:none;
    bottom: -40px;
    position: relative;
    bottom: -87px;
}

.productos_listado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}

.productos_item{
    list-style: none;
    margin: 5px;
    width: 344px;
    height: 193px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    
    padding: 0 20px;
    box-sizing: border-box;
}
.productos_item h4{
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 10px;
}
.productos_logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    left: 30px;
}
.productos_logo img{
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: solid;
    scale: 2.2;
    position: relative;
}
.productos_item div:nth-child(2){
    position: absolute;
    left: 150px;
}
#dormer{
    scale: 1.1;
}
#vektek {
    top: 1.4px;
    scale: 2.8;
    left: -15px;
    position: relative;
}
#castrol{
    scale: 1.35;
}
.productos h2{
    margin: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 39px;
}
.conocenos{
    display: flex;
    height: 333.5;
    background-color: var(--celeste);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    color: var(--blanco);
    margin-bottom: 150px;
    padding: 50px;
    
    width: 73vw;
}
.conocenos_herramienta img{
    transform: rotate(-90deg);
    width: 386px;
}
.conocenos h3{
    font-size: 34px;
    line-height: 40px;
}
.conocenos_textos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 200px;
    margin-bottom: 50px;
}
.conocenos_textos p{
    font-size: 18px;
    font-weight: 400;
    width: 260px;
    line-height: 21px;
    font-family: 'Roboto-Light';
}

.conocenos_textos a{
    color: var(--blanco);
    text-decoration: none;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.footer {
    background-color: var(--negro);
    color: var(--blanco);
    width: 100%;
    height: 530px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#footer_links {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#footer_links a{
padding: 10px;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 120px;
}
#footer_links h3{
    font-size: 33px;
    line-height: 49px;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'kanit';
}
.links_redes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 180px;
    align-content: space-around;
}

#footer_menu {
    padding-right: 2px;
    display: flex;
    float: right;
    width: 50%;
    justify-content: center;
}
#footer_menu li{
    list-style: none;
    font-family: 'Roboto-Light';

    font-style: normal;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    font-weight: 500;
}
.linea{
    height: 288px;
    width: 0;
    border: solid 1px #ffff;
}

@media only screen and (max-width: 1024px){
    .menu ul{
        gap:20px
    }
}


/*/ TABLETS */

@media only screen and (max-width: 768px) {
    .menu ul{
        gap: 20px;
    }
    .menu li{
        border: unset;
        display: flex;
        flex-direction: column-reverse;
    }
    .menu_icons{
        display: block;
        padding: 4px 0;
    }
    .title{
        font-size: 22px;
    }
    
    .slider-img img {
        max-width: unset;
        width: 100%;
    }

    .productos{
        box-sizing: border-box;
        scroll-behavior: auto;
        width: 96vw;
        overflow-x: scroll;
        overflow-y: hidden;
        top: 70px;
        height: 60vh;
        flex-wrap: wrap;
    }
    .productos h2{
        position: absolute;
    }
    .productos_listado{
        flex-direction: row;
        position: relative;
        top: 90px;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-flow: unset;
    }
    .productos_item {
        height: 193px;
        position: relative;
    }
    .conocenos > div{
        scale: 0.7;
    }
    .conocenos{
        width: 94vw;
        height: 218px;
        box-sizing: border-box;
        justify-content: space-between;
        padding: 0;
        width: 100%;
    }
    .conocenos_textos{
        margin-bottom: unset;
        justify-content: space-evenly;
        position: relative;
    }
    .conocenos_textos p{
        width: 300px;
        font-size: 21px;
        line-height: unset;
    }
    .conocenos_herramienta img {
        left: 10vw;
        position: relative;
    }
}
@media (min-width: 426px) and (max-width: 767px){
    
    .header_top{
        flex-direction: row-reverse;
    }
    .buscador{
        width: 60%;
    }
    .categorias{
        box-sizing: border-box;
        scroll-behavior: auto;
        align-items: center;
        padding: 0;
        margin: 0;
        overflow: scroll;
        width: 96vw;
        height: 330px;
        flex-wrap: wrap;
    }
    .categorias h2{
        line-height: 26px;
        position: absolute;
    }
    .categorias ul{
        flex-direction: row;
        position: relative;
        top: 60px;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 0;
    }
    
    .menu ul {
        gap: 0;
    }
}

/* PHONES */
@media only screen and (max-width: 620px){

    header{
        height: 56px;
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        justify-content: right;
    }
    .header_top{
        flex-direction: row-reverse;
        justify-content: end;
    }
    .menu_icons{
        display: none;
    }
    .title{
        position: relative;
        width: 100px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        box-sizing: border-box;
        margin-right: 20px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .menu ul{
        display: none;
        z-index: -1;
        
    }
    .menu li:hover{
        font-family: 'Roboto-Bold';
    }
    .menu li{
        text-align: left;
        border: none;
        color: var(--negro);
        display: block;
        width: 100px;
    }
    nav label{
        display: block;
        color: var(--blanco);
        font-family: 'Roboto-Bold';
        font-size: 22px;
        top: 10px;
        left: 10px;
        position: relative;
    }
    #menu{
        position: relative;
        z-index: 3;
        color: var(--blanco);
        top: 10px;
        left: 10px;
    }
    #menu:checked ~ul{
        left: 0;
        padding-top: 30px;
        display: block;
        background: var(--blanco);
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 1;
        box-sizing: border-box;
        flex-direction: column;
    }
    
    #menu:checked + #label_menu{
        display: none;
    }
    #menu_back:checked + #label_menu_back{
        display: none;
    }
    #label_menu_back{
        position: relative;
        top: 15px;
        left: 90%;
        color: #000;
        z-index: 2;
        font-size: 22px;
        font-weight: bold;
    }
    
    .categorias{
        box-sizing: border-box;
        scroll-behavior: auto;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 94vw;
        height: 230px;
    }
    .categorias ul{
        flex-direction: row;
        position: relative;
        top: 40px;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 0;
    }
    .categorias h2{
        font-size: 22px;
        line-height: 26px;
        position: absolute;
    }
    .categorias ul li a{
        bottom: -50px;
    }
    .categorias_items{
        height: 63px;
        width: 63px;
        position: relative;
    }
    .categorias img {
        width: 34px;
        justify-content: center;
        position: absolute;
    }

    .productos{
        height: unset;
        top: -20px;
        position: relative;
        flex-direction: column;
        overflow: unset;
        width: auto;
    }
    .productos_item{
        height: 152px;
        width: 90vw;
    }
    .productos_listado{
        flex-flow: column;
        top: unset;
    }
    .conocenos_herramienta img{
        width: 125px;
        height: 90px;
        position: initial;
    }
    .conocenos {
        height: 108px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;
    }
    .conocenos > div{
        scale: unset;
        height: inherit;
    }
    .conocenos h3 {
        font-size: 18px;
        line-height: 21px;
        padding-left: 4vw;
    }
    .conocenos_textos p {
        width: 184px;
        font-size: 16px;
        line-height: 19px;
        padding-left: 4vw;
    }
    .conocenos_textos a {
        display: none;
    }
    .productos h2{
        font-size: 22px;
        line-height: 26px;
        position: relative;
    }
    .footer{
        height: 198px;
    }
    #footer_menu{
        display: none;
    }
    .linea{
        display: none;
    }
    #footer_links {
        width: auto;
        padding: 20px;
        height: 130px;
    }
    #footer_links h3 {
        font-weight: 800;
        font-size: 20px;
        line-height: 30px;
    }
    .links_redes {
        place-content: center;
    }
}
